.header {
  
}

.header-image {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  margin-inline: auto;
  padding: 0px;
  border-color: rgb(190, 5, 5);
  border-bottom-style: solid;
  border-width: 3px;
}